### `.gitignore`

```gitignore
# Ignore node_modules and log files
node_modules/
npm-debug.log*

# Ignore Docker files
pgdata/
pgadmin-data/

gorico_prod*

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore .env files
.env
